/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    font-family: Montserrat, system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    /*padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 60px) env(safe-area-inset-right, 0px);*/
    /*padding-bottom: 30%;*/
    width:100%;
}

/* Portrait layout (default) */
.app {
    /*background:url(../img/logo.png) no-repeat center top; !* 170px x 200px *!*/
    position:absolute;             /* position in the center of the screen */
    left:30%;
    top:0%;
    height:80px;                   /* text area height */
    width:375px;                   /* text area width */
    text-align:center;
    padding:120px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
} 

/* Landscape layout (with min-width) 
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height
                                      /* offset horizontal: half of image width and text area width
    }
} */

a {
    text-decoration: none;
}

#indexh1 {
    font-size:35px;
    font-weight: normal;
    color: #000;
    margin:0px;
    overflow:visible;
    /*padding:5px;*/
    text-align:left;
    top:0;
    padding-top: 2%;
    padding-left: 2%;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color: #6e5e90;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/*SAMPLE*/
.icon-bar {
  width: 100%; /* Full-width */
  background-color: #E4E4E4;
  overflow: hidden;
    position: fixed;
    bottom: 0;
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 18%; /* Equal width (5 icons with 20% width each = 100%) */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
  padding: 1%;
}

.active {
    /*background-color: #6e5e90; !* Add an active/current color *!*/
    filter: invert(42%) sepia(10%) saturate(1352%) hue-rotate(225deg) brightness(100%) contrast(119%);

}

.icon-bar img {
    width: 40%;
    align-items: center;
    padding-top: 2px;
}

/*stats progress bar*/
.stats {
    list-style: none;
}

.statsh1 {
    font-weight: normal;
    text-align: left;
    color: #000;
}

progress {
    width:100%;
    height:15px;
    -webkit-appearance: none;
	border: none;
}

progress::-webkit-progress-bar {
	background: rgb(228, 227, 227);
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
    border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background: whitesmoke;
    background-size: 25px 14px, 100% 100%, 100% 100%;
}

/*.app .sub_stats {*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    margin: 5px 0 0 0;*/
/*}*/

.prog {
    font-size: 20px;
    font-style: italic;
}

.index_main {
    padding-bottom: 20%;
}
#box1 {
    width: 380px;
    height: 180px;
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
}

#box1 img {
    width: 70%;
    float: right;
    margin-top: -11%;
    margin-right: -15%;
    display: inline-block;
}

#box1 p {
    color: #fff;
    font-size: 20px;
    width: 45%;
    display: inline-block;
    text-align: left;
    margin-right: -15%;

}

#bignum {
    float: right;
    font-weight: normal;
    font-size: 100px;
    color: #fff;
    margin-top: -55px;
    margin-right: -50px;
}

#box2 {
    width: 380px;
    height: 180px;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
}

#box2 img {
    width: 50%;
    float: left;
    margin-top: -2%;
    margin-right: -15%;
    display: inline-block;
}

#box2 p {
    color: #fff;
    font-size: 20px;
    width: 45%;
    display: inline-block;
    text-align: right;
    margin-right: -8%;

}

#box3 {
    width: 380px;
    height: 180px;
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
}

#box3 img {
    width: 70%;
    float: right;
    margin-top: -11%;
    margin-right: -15%;
    display: inline-block;
}

#box3 p {
    color: #fff;
    font-size: 20px;
    width: 45%;
    display: inline-block;
    text-align: left;
    margin-right: -15%;

}

#box4 {
    width: 380px;
    height: 180px;
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
}

#box4 img {
    width: 60%;
    float: left;
    margin-top: -5%;
    margin-right: -15%;
    margin-left: -5%;
    display: inline-block;
}

#box4 p {
    color: #fff;
    font-size: 20px;
    width: 45%;
    display: inline-block;
    text-align: right;
    margin-right: -8%;

}

#plus_icon {
    background: #7B609C;
    border-radius: 50%;
    padding: 5%;
}

.exercises_main {
    padding-bottom: 70%;
}

.sub_exercises_main {
    padding-top: 15%;
    padding-bottom: 20%;
}

.header-bar {
    display: grid;
    background-color:#7B609C;
    position: fixed;
    left: 0%;
    top: 0%;
    padding: 7px 0 7px 10px;
    width: 100%;
    grid-template-columns: 0% 100%;
    text-align: center;
    color: white;
    font-size: 200%;
}

.container {
    display: grid;
    grid-template-columns: 35% 50% 10%;
    grid-column-gap: 3%;
    margin-bottom: 5%;
}

.container img {
    width: 100%;
}

.container i {
    font-size: 300%;
    padding-top: 50%;
}

.description {
    text-align: justify;
}

/**Style for time.html**/
#time-page {
    background-color: #E4E4E4;
}

#time-page h1 {
    font-size: 30px;
    text-align: center;
}

#time-page label {
    font-size: 20px;
}

#time-page #activity, input {
    font-size: 20px;
    height: 7%;
    width: 385px;

}


#time-page input[type=number], select, textarea {
    border: 2px solid #7B609C;
    border-radius: 4px;
    background-color: #ffffff;
    width: 380px;
}

#time-page input[type=submit] {
    background-color: #7B609C;
    border: 2px solid #ffffff;
    border-radius: 4px;
    width: 380px;
}

#time-page #feeling-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#time-page .feeling {
    width: 27%;
    padding: 3px;
}

/* HIDE RADIO */
#time-page [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* IMAGE STYLES */
#time-page [type=radio] + img {
    cursor: pointer;
}
  
/* CHECKED STYLES */
#time-page [type=radio]:checked + img {
    outline: 2px solid #7B609C;
}

#time-page textarea {
    width: 100%;
    font-size: 20px;
}

/*exercises boxes*/

.exercises_main a {
    color: white;
    text-decoration: none;
}

#hiit {
    width: 380px;
    height: 180px;
    background: #ad5389;  /* fallback for old browsers */
    background-image: url("../img/hiit.jpg");
    background-size: cover;
    opacity: 0.7;
    border-radius: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
}

#hiit h3 {
    color: white;
    font-weight: normal;
    text-align: right;
    font-size: 50px;
    padding-right: 2%;
    padding-top: 10%;
    margin: 0;
}
#hiit h2 {
    color: white;
    font-weight: normal;
    text-align: right;
    /*font-size: 30px;*/
    padding-right: 2%;
    margin: 0;
}

#abs {
    width: 380px;
    height: 180px;
    background: #ad5389;  /* fallback for old browsers */
    background-image: url("../img/abs.jpg");
    background-size: cover;
    opacity: 0.7;
    border-radius: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
}

#abs #dumbbells, h3 {
    color: white;
    font-weight: normal;
    text-align: left;
    font-size: 50px;
    padding-left: 2%;
    padding-top: 15%;
    margin: 0;
}

#arms {
    width: 380px;
    height: 180px;
    background: #ad5389;  /* fallback for old browsers */
    background-image: url("../img/arms.jpg");
    background-size: cover;
    opacity: 0.7;
    border-radius: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
}

#arms h3 {
    color: white;
    font-weight: normal;
    text-align: right;
    font-size: 50px;
    padding-right: 2%;
    padding-top: 15%;
    margin: 0;
}

.squares h1 {
    font-size:25px;
    font-weight: normal;
    color: #000;
    margin:0px;
    overflow:visible;
    /*padding:5px;*/
    text-align:left;
    top:0;
    padding-top: 2%;
    padding-left: 2%;
}
#tenmin {
    width: 180px;
    height: 180px;
    background: #ad5389;  /* fallback for old browsers */
    background-image: url("../img/ten.jpg");
    background-size: cover;
    opacity: 0.7;
    border-radius: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
    float: left;
}

#thirtymin {
    width: 180px;
    height: 180px;
    background: #ad5389;  /* fallback for old browsers */
    background-image: url("../img/thirty.png");
    background-size: cover;
    opacity: 0.7;
    border-radius: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
    float: right;
}

.squares h3 {
    color: white;
    font-weight: normal;
    text-align: left;
    font-size: 35px;
    padding-left: 2%;
    padding-top: 25%;
    margin: 0;
}

.back-button {
    width: 100%; /* Full-width */
    background-color: #E4E4E4;
}

.centre_h1 {
    font-size: 60px;
    color: #000;
    font-weight: normal;
    padding-top: 60%;
    margin: 0;
}

.submit_h2 {
    color: #6e5e90;
}

#time-page a {
    text-decoration: none;
}

#celebration {
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 90%;
}

.stats_main {
    padding-bottom: 30%;
}

#bigbox {
    width: 380px;
    height: 300px;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
}

#bigbox img {
    width: 75%;
    float: right;
    margin-top: 16%;
    margin-right: -10%;
    display: inline-block;
}

#bigboxp {
    color: #fff;
    font-size: 30px;
    width: 80%;
    display: inline-block;
    text-align: left;
    position: absolute;
    margin-top: 8%;
    margin-left: -12%;
}

#statsnum {
    color: #fff;
    font-size: 80px;
    position: absolute;
    float: left;
    margin-left: 5%;
    margin-top: 30%;
}

/*progress bar*/


.progress2 {
    width: 100%;
    margin-bottom: 3%;
    padding: 6px;
    border-radius: 30px;
    background: rgba(50, 50, 50, 0.98);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    float: left;

}

.progress-bar2 {
    height: 18px;
    border-radius: 30px;
    background-image:
            linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
    /*background-color: #ccbdaf;*/
    animation: progressAnimation 4s;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


@keyframes progressAnimation {
    0%   { width: 5%; background-color: #3c1053;}
    100% { background-color: #ccbdaf; }

}

.title {
    color: #000;
    text-align: right;
    font-weight: normal;
    font-size: 16px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

